.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-item {
    margin-left: 5px;
    width: 25%;
    margin-bottom: 40px;
    padding: 30px;
    margin-right: 35px;
    background-color: #f2f2f2;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
  }
  
  .product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .spinner svg {
    animation: rotate 2s linear infinite;
    width: 50px;
    height: 50px;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  